<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415228559554-n9d4gq8ivukfmtgkfl66k0n5tcnst0fd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415228559554-n9d4gq8ivukfmtgkfl66k0n5tcnst0fd</string>
	<key>API_KEY</key>
	<string>AIzaSyANYVkxnZxOzLMvYQG6eBSC_GxD9Oyo2gw</string>
	<key>GCM_SENDER_ID</key>
	<string>415228559554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onetest.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotesmynotes-0407</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotesmynotes-0407.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415228559554:ios:e1882790af0b871638fb5b</string>
</dict>
</plist>